body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #524D6E;
  color: #F5F7F8;
  font-size: 1.1em;
  width: 100%;
  height: 4em;
  box-shadow: 0 0 0.7em #ABA1A0;
}

a {
  text-decoration: none;
  color: #524D6E;
  font-size: 1em;
}

a:hover {
  color: #ABA1A0;
}

label {
  display: block;
  font-size: 1.1em;
  padding: 0.5em 0;
}

input {
  display: block;
  font-size: 1em;
  width: 97%;
  border: 0.1em solid #524D6E;
}

input:focus, button:focus {
  outline-color: #C6ACA4;
  outline-size: 1px;
}

button {
  display: block;
  background-color: #F5F7F8;
  color: #524D6E;
  border: 0.15em solid #524D6E;
  border-radius: 0;
  padding: 1em;
  margin: 2em auto 0;
  text-align: center;
  font-size: 0.8em;
}

button:hover {
  background-color: #524D6E;
  color: #F5F7F8;
}


.page-title {
  text-align: center;
  position: relative;
  top: 0.5em;
  font-size: 2em;
}

.container, .activities-list {
  width: 20%;
  height: 100%;
  margin: 4em auto;
  padding: 1.5em 2em;
  background-color: #EEE;
  color: #524D6E;
  border: 0.1em solid #524D6E;
  box-shadow: 0 0 0.7em #ABA1A0;
}

ul {
  font-size: 0.9em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 0.07em solid #524D6E;
}

li {
  padding: 1em 0.3em;
  font-size: 1em;
  border-bottom: 0.07em solid #524D6E;
}

.delete, .edit {
  float: left;
  padding: 1em 0.3em;
  font-size: 1em;
}

td, th {
  padding: 1em 0;
  font-size: 1em;
  border-bottom: 0.07em solid #524D6E;
  margin: 0 auto;
}

.success, .activity-title {
  padding: 1em 0;
  font-weight: bold;
}

.delete-stat {
  border-top: 0.07em solid #524D6E;
}

th {
  text-align: left;
  font-weight: bold;
}

table {
  width: 100%;
}