{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stat-Tracker</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/graph.css' %}" />
  <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' %}">
  <link rel="stylesheet" href="{% static '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/bower_components/pickadate/lib/compressed/themes/default.css' %}">
  <link rel="stylesheet" href="{% static 'js/bower_components/pickadate/lib/compressed/themes/default.date.css' %}">

</head>

<body>

  <header>
    <h1 class="page-title">Activity Tracker</h1>
  </header>

  <main class="main-content"></main>

  <!-- Registration Template -->

  <script type='text/template' id="registration">
  	<div class="container">
  		<h2 class="container-title">Registration</h2>

  		<form class="registration-form">

  			<label>Username:</label><input type="textbox" class="username">
  		  <label>Password:</label><input type="textbox" class="password">
  	  	<label>Confirm Password:</label><input type="textbox" class="confirm-password">

  			<button type="submit" class="registration-button">Register</button>

  		</form>

  	</div>
  </script>


  <!-- Login Template -->

  <script type='text/template' id="login">
  	<div class="container">

  		<form class="login-form">

  			<label>Username:</label><input type="textbox" class="username">
  		  <label>Password:</label><input type="textbox" class="password">

  			<button type="submit" class="login-button">Login</button>
        <button type="submit" class="register-button">Register</button>

  		</form>

  	</div>
  </script>


  <!-- Activities List Template -->

  <script type='text/template' id="activities-list">
  	<!--POST	/activities-->
    <div class="container">

  		<form class="new-activity-form">

  			<label>Activity:</label><input type="textbox" class="activity" required>

  			<button class="new-activity-button">Add Activity!</button>

  		</form>

  	</div>

  	<!--GET	/activities-->
  	<ul class="activities-list">
      <% m.results.forEach(function(activity) { %>
      <!--templates-->
        <a href="#activities/<%- activity.id %>/edit"><i class="fa fa-pencil"></i></a> <!--Edit-->
        <i class="fa fa-trash-o"></i> <!--Delete-->
        <li class="activity"><a href="#activities/<%- activity.id %>"><%- activity.title %></a></li>
      <% }) %>
  	</ul>

  </script>


  <!-- Activity Details Template -->

  <script type='text/template' id="activity-details">
    <!--GET	/activities/{id}-->

    <h4>Activity: <%- m.title %> </h4>
    <h6>My Successes:</h6>
    <table>
      <tr>
        <th>Date</th>
        <th>Value</th>
      </tr>
      <% m.stat_set.forEach(function(stat) { %>
      <tr>
        <td class="date"><%- stat.date %></td>
        <td class="stat"><%- stat.value %></td>
      </tr>
      <% }) %>

      <svg id="graph"></svg>

    </table>

    <!-- GRAPHS AND GRAPHS AND LOTS OF GRAPHS -->

  </script>


  <!-- Activity Edit Template -->

    <!--PUT	/activities/{id} -->  <!--doesn't allow to change tracked data-->
  <script type='text/template' id="activity-edit">
  <div class="container">
    <form class="edit-activity-form"> <!--should this class stay "new-activity-form"?-->

  		<label>Edit Activity:</label><input type="textbox" class="activity">

  		<button type="submit" class="edit-button">Save My Changes</button>

  	</form>
  </div>
    <!--POST or PUT	/activities/{id}/stats-->

    <div class="container">

      <form class="add-stat-form">
        <!-- here: dropdown bar of activities already created? -->
        <label>Date:</label><input type="textbox" class="date">
        <!--what fields here? (distance, # steps, calories, ??)	-->

        <button type="submit" class="add-stat-button">Add It!</button>

      </form>

    </div>

  </script>

  <script src="{% static 'js/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js/bower_components/underscore/underscore-min.js' %}"></script>
  <script src="{% static 'js/bower_components/backbone/backbone-min.js' %}"></script>
  <script src="{% static 'js/bower_components/d3/d3.min.js' %}"></script>
  <script src="{% static 'js/bower_components/pickadate/lib/compressed/picker.js' %}"></script>
  <script src="{% static 'js/bower_components/pickadate/lib/compressed/picker.date.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/router/router.js' %}"></script>
  <script src="{% static 'js/graph.js' %}"></script>
  <script src="{% static 'js/controllers/activities_list.js' %}"></script>
  <script src="{% static 'js/controllers/activity_details.js' %}"></script>
  <script src="{% static 'js/controllers/activity_edit.js' %}"></script>
  <script src="{% static 'js/controllers/login.js' %}"></script>
  <script src="{% static 'js/controllers/registration.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

</body>

</html>
