{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>index.html</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %}">
</head>

<body>

<header>
  <h1>Activity Tracker</h1>
</header>

<script type='text/template' id="#registration">
	<form class="registration-form">
		<label>Username:</label><input type="textbox" class="username">
	    <label>Password:</label><input type="textbox" class="password">
    	<label>Confirm Password:</label><input type="textbox" class="confirm-password">

		<button type="submit" class="registration-button">Register</button>
	</form>
</script>

<script type='text/template' id="#login">
	<form class="login-form">
		<label>Username:</label><input type="textbox" class="username">
	    <label>Password:</label><input type="textbox" class="password">

		<button type="submit" class="login-button">Login</button>
	</form>
</script>

<script type='text/template' id="#activities-list">
	<!--POST	/activities-->
    <form class="new-activity-form">
		<label>Activity:</label><input type="textbox" class="activity">
	    <label>Description:</label><input type="textbox" class="description">

		<button type="submit" class="new-activity-button">Add Activity!</button>
	</form>

	<!--GET	/activities-->
	<ul class="activities-list">
	    <!--templates-->
		<% m.forEach(function(act,i) {  %>
	          <li class = "activity"> <a href = "#_______/<%- i %>"><%- act.activity %> </a> </li>
	          <li class = "description"><%- act.description %></li>
	          <li class = "date"><%- act.date %></li>
	          <li class = "stat"><%- act.stat %></li>
	    <% }) %>
				<!--view, edit, delete buttons-->
				<i class="fa fa-eye"></i> <!--Show-->
				<i class="fa fa-pencil"></i> <!--Edit-->
				<i class="fa fa-trash-o"></i> <!--Delete-->
	</ul>
</script>


<script type='text/template' id="#activity-detail">
<!--GET	/activities/{id}-->
    <h4>Activity: <!--template for activity--> </h4>
    <h5>Description: <!--template for description--> </h5>
    <h6>My Successes: <!--template for tracking stats --></h6>
</script>
  
<!--PUT	/activities/{id} -->  <!--doesn't allow to change tracked data-->
<script type='text/template' id="#edit-activity">
<div class="edit-activity"> 
    <form class="edit-activity-form"> <!--should this class stay "new-activity-form"?-->
		<label>Activity:</label><input type="textbox" class="activity">
	    <label>Description:</label><input type="textbox" class="description">

		<button type="submit" class="edit-button">Save My Changes</button>
	</form>
</script>

<!--POST or PUT	/activities/{id}/stats-->
<div class="add-stat">
    <form class="add-stat-form">
		<!-- here: dropdown bar of activities already created? -->
		<label>Date:</label><!--date picker here? --><input type="textbox" class="date">
		<!--what fields here? (distance, # steps, calories, ??)	-->

		<button type="submit" class="add-stat-button">Add It!</button>
	</form>
  
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
